{% extends 'main/base.html' %}

{% block title %}
    Редактировать профиль
{% endblock %}

{% block body %}
<form action="{% url 'auth:edit' %}" class="form_settings" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 class="auth_h1">Редактировать профиль</h1>
    {% for field in edit_form %}
    <div class="field_wrapper">
        {% if field.label != "Password" %}
        <p><span>{{ field.label_tag }}</span>{{ field }}</p>{{ field.errors }}
        {% endif %}
    </div>
    {% endfor %}
    {% for field in edit_profile_form %}
    <div class="field_wrapper">
        {{ field.label_tag }}{{ field }}{{ field.errors }}
    </div>
    {% endfor %}
    <div class="container-buttons">
        <input class="submit" type="submit" value="Сохранить">
    </div>
</form>
{% endblock %}

