{% extends "main/base.html" %}

{% block title %}
    {{ title|title }}
{% endblock %}

{% block head %}
    {% include "main/includes/head.html" %}
{% endblock %}

{% block body %}
    <div id="site_content">
        <form action="{% url 'auth:login' %}" class="form_settings" method="post">
            {% csrf_token %}
            {% if next %}
                <input type="hidden" name="next" value="{{ next }}">
            {% endif %}
            {% for field in login_form %}
                <p><span>{{ field.label_tag }}</span>{{ field }}</p>{{ field.errors }}
            {% endfor %}
            <div class="container-buttons">
                <a href="{% url 'authapp:register' %}" class="submit">Регистрация</a>
                <input class="submit" type="submit" value="Вход">
            </div>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "main/includes/footer.html" %}
{% endblock %}

