{% extends "main/base.html" %}

{% block title %}
    {{ title|title }}
{% endblock %}

{% block head %}
    {% include "main/includes/head.html" %}
{% endblock %}

{% block body %}
    <div id="site_content">
        <form action="{% url 'auth:register' %}" class="form_settings" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in register_form %}
            <div class="registr">
                {{ field.label_tag }}{{ field }}{{ field.errors }}
            </div>
            {% endfor %}
            <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" value="Регистрация"></p>
            <a href="/"><span>&nbsp;</span><input class="submit" type="submit" value="Выход"></a>
        </form>
    </div>
{% endblock %}

{% block footer %}
    {% include "main/includes/footer.html" %}
{% endblock %}

