<div id="site_content">
    {% include "inc-info.html" %}
    <div class="price">
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_1">
            <label class="price-title" for="price_1">КИНО</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_2">
            <label class="price-title" for="price_2">МУЗЫКА</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_3">
            <label class="price-title" for="price_3">ИССКУСТВО</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_4">
            <label class="price-title" for="price_4">ГЕОГРАФИЯ</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_5">
            <label class="price-title" for="price_5">ЛИТЕРАТУРА</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
        <div class="price-item">
            <input class="price-input" type="checkbox" id="price_6">
            <label class="price-title" for="price_6">КОТИКИ</label>
            <div class="price-text">
                <p class="leftstr">Сложность 1</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 2</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 3</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 4</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 5</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
            <div class="price-text">
                <p class="leftstr">Сложность 6</p>
                <p class="rightstr">Ещё что-то</p>
                <div style="clear: left"></div>
            </div>
        </div>
    </div>
</div>
