<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">krutie<span class="logo_colour">perci</span></a></h1>
                <h2>Quizzes. Games. Prize drawing.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="/game/">ВИКТОРИНЫ</a></li>
                <li><a href="/">РЕГИСТРАЦИЯ</a></li>
                <li><a href="/">МОИ ДРУЗЬЯ</a></li>
                <li><a href="/">МОИ ИГРЫ</a></li>
                <li><a href="/">ОБРАТНАЯ СВЯЗЬ</a></li>
            </ul>
        </div>
    </div>
</div>