<div id="main">
    <div id="header">
        <div id="logo">
            <div id="logo_text">
                <h1><a href="/">krutie<span class="logo_colour">perci</span></a></h1>
                <h2>Quizzes. Games. Prize drawing.</h2>
            </div>
        </div>
        <div id="menubar">
            <ul id="menu">
                <li><a href="/">ГЛАВНАЯ</a></li>
                <li><a href="/registration/">РЕГИСТРАЦИЯ</a></li>
                <li><a href="/support/">ПОДДЕРЖКА</a></li>
            </ul>
        </div>
    </div>
</div>