<div class="sidebar">
    <h3>Игровые новости</h3>
    <h4><a href="/news_1/">Новость 1</a></h4>
    <h5>Название новости</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p></p>
    <h4><a href="/news_1/">Новость 2</a></h4>
    <h5>Название новости</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    <p></p>
    <h4><a href="/news_1/">Новость 3</a></h4>
    <h5>Название новости</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
</div>