<div id="site_content">
    <div class="form_settings">
        <p><span>Имя</span><input class="registr" type="text" name="your_name" value=""></p>
        <p><span>Никнейм</span><input class="registr" type="text" name="your_nike" value=""></p>
        <p><span>Дата рождения</span><input class="registr" type="date" name="your_age" value=""></p>
        <p><span>Пароль</span><input class="registr" type="password" name="your_password" value=""></p>
        <p><span>Повторите пароль</span><input class="registr" type="password" name="repeat_password" value=""></p>
        <p style="padding-top: 15px"><span>&nbsp;</span><input class="submit" type="submit" name="conduct_registration" value="отправить"></p>
    </div>
</div>
