{% extends "main/base.html" %}
{% load static %}

{% block title %}Игровое лобби{% endblock %}
{% block style %}
    <link rel="stylesheet" href="{% static 'css/games_style.css'%}">
{% endblock %}
{% block js_second %}
    <script src="{% static 'js/game.js' %}"></script>
{% endblock %}
{% block body %}
<div class="game_content">
    {% if themes %}
    <div class="game_themes">
        <span>Играются следующие темы:</span>
    {% for theme in themes %}
        <span>{{ theme.0 }}</span>
    {% endfor %}
    </div>
    {% endif %}
    <input type="hidden" value="{{ request.user.current_game.pk }}" id="game_id">
    <input type="hidden" value="{{ request.user.pk }}" id="user_id">
    <div class="game_questions_block">
        <h3 class="game_question"></h3>
        <div class="game_answers_block"></div>
        <button class="game_answer_button">Ответить</button>
    </div>
    <div class="game_bottom">
        <table class="game_score_block">
            {% for user in users %}
                <tr class="game_score_subblock" id="score_{{ user.pk }}">
                    <td class="game_score_nickname">{{ user.nickname }} </td>
                    <td class="game_score">0</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>
<span class="game_chat_open">Открыть игровой чат</span>
<div class="game_chat_block">
    <div class="game_chat_top">
        <span class="game_chat_name">Игровой чат</span>
        <span class="game_chat_close">Х</span>
    </div>
    <div class="game_chat_messages">

    </div>
    <textarea class="game_chat_textarea" placeholder="Введите текст сообщения"></textarea>
</div>
{% endblock %}