{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/queue.js' %}"></script>
</head>
<body>
<input type="hidden" id="user_id" value="{{ user.pk }}">
<span class="lobby_invitation_rejected" style="display: none;">Ваше приглашение отклонено</span>
<span class="lobby_invitation_nickname"></span>
<span class="lobby_invitation_accept" style="display: none;">Принять</span>
<span class="lobby_invitation_reject" style="display: none;">Отклонить</span>
<span class="lobby_start_game_button">Начать игру</span>
<span id="min"></span>:<span id="sec"></span>
<div class="lobby_users">
    <p>{{ user.nickname }}</p>
    {% if users %}
        {% for u in users %}
            <p>{{ u.nickname }}</p>
        {% endfor %}
    {% endif %}
</div>
<p>{{ user.current_lobby.pk }}</p>
<select class="lobby_change_mode">
    {% for mode in modes %}
        <option value="{{ mode.0 }}">{{ mode.1 }}</option>
    {% endfor %}
</select>
<p class="lobby_invite_button">Пригласить друга</p>
<div class="lobby_invite_block">
    {% for friend in friends %}
        <span class="lobby_invite_friend" id="friend_{{ friend.pk }}">{{ friend.nickname }}</span>
    {% endfor %}
</div>
</body>
</html>