{% extends "main/base.html" %}
{% load static %}
{% block title %}
    Оценка вопросов
{% endblock %}

{% block body %}
    {% include 'questions/includes/messages.html' %}
    <h1>Оценить вопрос</h1>
    {% if question_list.question != None %}
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>
                    <input type="hidden" name="question" value="{{ question_list.question }}">Вопрос: {{ question_list.question }}
            </p>
            <p>
                    Категория вопроса: {{ question_list.category }}
            </p>
            <p>
                    Ответ: {{ question_list.answer }} ({{ question_list.answer.subtype.type }}, {{ question_list.answer.subtype }})
            </p>
            <p>
                <input type="text" name="text" autofocus=""
                       autocapitalize="none" autocomplete="text"
                       maxlength="150" class="textinput textInput form-control"
                       required="" id="id_text" value="Без замечаний" placeholder="Замечание">
            </p>
            <p>
                <input type="hidden" name="author" value="{{ request.user.username }}">
            </p>
            <p>
                <button type="submit" class="btn btn-default" name="rating" value="1">
                    👍
                </button>
                <button type="submit" class="btn btn-default" name="rating" value="-1">
                    👎
                </button>
            </p>
        </form>
    {% else %}
    <h2> Вы оценили все вопросы</h2>
    {% endif %}
    <h3> Отзывы пользователей</h3>
            {% for item in remark_list %}
                    <p>{{ item.author }}
                        {{ item.text }}
                        {{ item.rating }}</p>
            {% endfor %}
    {% block js %}
    <script>
            $(document).ready(function () {
                {% if messages %}
                    // Toasts
                    $(".toast").toast({ delay: 5000 });
                    $(".toast").toast("show");
                {% endif %}
            });


    </script>
    {% endblock %}
{% endblock %}